* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #012e40, #3ca6a6);
  padding: 2.5rem;
}

.container {
  max-width: 700px;
  width: 100%;
  background: white;
  padding: 25px 15px;
  border-radius: 5px;
}

.container .title {
  font-size: 2.2rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 5px;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 5px;
  width: 55px;
  background: linear-gradient(135deg, #012e40, #3ca6a6);
  border-radius: 2px;
}

.container form .product_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
